
.Image{
    /* width: 100%; */
    text-align: center;
    
}
.Image p{
    width: 5%;
    display: inline-block;
    margin: 10px 35px;
    font-size: 15px;
}
.Image img{
    width: 20%;
    height: 350px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.p_price{
    text-align: right;
}