.L{
    padding: 25px;
    float:right;
    padding-left:700px;
    position: relative;
    z-index: 3;
}
.nav{
    width: 130px;
    float:left;
    position: absolute;
    left:-120px;
    top: -20px;
    z-index: 4;
}
.icon{
    width: 40px;
}