
.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./../public/image/cover.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#profile{
  display: none;
}
#profileImage{
    cursor: pointer;
}
.p{
  display: flex;
  justify-content: center;
}
.link{
  display: inline-block;
  text-align: center;
  color: blue;
  padding: 0px 5px;
}
.logo {
  position: absolute;
  background-color: white;
  margin-top: 25px;
  width: 130px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0px 1px 5px rgb(92, 92, 92);;
  z-index: 1;
}
.loading{
  z-index:2;
}
.li{
  text-align: center;
  color: black;
  font-size: 35px;
  margin-top: 60px;
}
.error{
  padding: 10px 25px;
  color: red;
}
.info{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 15px;
}
.info input{
  width: 45%;
  padding: 10px 25px;
  margin: 13px;
  border-radius: 5px;
  border: 1px solid grey;
}
.form{
  margin: 120px;
}
.form input[type=text], .form input[type=email], .form input[type=password], .form select{
  margin: 15px 40px;
  justify-content: center;
  padding: 10px 25px;
  width: 40%;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid grey;
}
.form input[type=file]{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto;
  padding: 10px 25px;
  width: 50%;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid grey;
}
.form input[type=submit]{
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 10px 25px;
  border-radius: 25px;
  width: 40%;
  display: block;
}
.a{
  background-color: black;
  color: white;
  text-align: center;
}
.modalcontent {
  /* position: absolute; */
  background-color: white;
  /* margin: auto; */
  padding: 20px;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  /* box-shadow: 0px 1px 5px rgb(92, 92, 92); */
  max-width: 1100px;
  float: right;
  width: 100%;
  min-height: 100vh;
  /* margin-top: 90px; */
  /* margin-bottom: 40px; */

}
.box{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.tick{
  float: left; 
  margin-top: 5px;
}
.text{
  margin-left: 25px;
}
@media screen and (max-width: 600px) {
  .text{
    font-size: 13px;
  }
  .box{
    margin: 15px;
  }
  .error{
    font-size: 14px;
  }
}
