.container .button{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    cursor: pointer;
  }
  .container{
      float: right;
  }
  .input{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid grey;
  }
  .button{
      width: 39px;
      height: 39px;
      text-decoration: none;
      border: none;
      position: relative;
  }
  .img{
    width: 27px;
    height: 27px;
    position: absolute;
    top: 7px;
    left: 6px;
  }