.Profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.selleradmin{
    scroll-behavior: smooth;
}
.Item{
    width: 100%;
    padding: 0px 20px 0px 0px;
    margin: 0px auto;
}

.post{
    width: 100%;
    text-align: center;
    /* background-color: rgb(189, 189, 235); */
}
.grid{
    display: flex;
    justify-items: center;
    /* background-color: blue; */
    width: 100%;
    margin: 0px auto;
}
.drop{
    text-align: center;
    width: 385px;
    display: inline;
    /* margin: 50px; */
}
.InputLabel{
    margin: 20px;
}
.form{
    overflow: hidden;
    display: inline;
}
.form label, .form input[type=text]{
    margin: 15px;
    margin-bottom: 30px;
    width: 350px;
    border: none;
}
.L, .form input[type=color]{
    display: inline;
    margin: 30px 0px;
}
/* .form input[type=color]{
    width: 60px;
    height: 30px;
    padding: 0px;
    margin: 25px;
} */
/* .form input[type=color], .form label{
    display: inline-block;
} */
.input{
    display: flex;
    justify-content: center;
    padding: 15px;
}
.btn , .btns{
    width: 25%;
    display: inline-block;
    justify-content: center;
    margin-top: 50px;
    left: 5px;
    right: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    padding: 10px;
    color: white;
    border: none;
    background-color: rgb(44, 44, 44);
}
