@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.title{
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  font-family: 'Righteous', cursive;
  margin-bottom: 30px;
}
.sidenav {
    height: 100%;
    width: 25%;
    margin: 15px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    float: left;
  }
  
  .sidenav a, .dropdownbtn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  
  .dropdowncontainer {
    background-color: white;
    padding-left: 8px;
    font-size: 2px;
    margin-left: 10px;
  }
  .dropdownbtn1{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: red;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }